/* Warren Chemerika - Landing Page Assignment */

* {

    margin: 0;

    padding: 0;

}

body {

    background: #222;

    font-family: sans-serif;

}

a, body {

    color: #fff7f7;

}

a {

    text-decoration: none;

    font-weight: bold;

}

a:hover {

    text-decoration: underline;

    text-decoration-color: gray;

    text-underline-offset: 5px;

}

h1 {

    font-size: 2em;

}

p {

    opacity: 0.9;

    line-height: 25px;

    width: 400px;

}

section, ul, section > div, body {

    display: flex;

}

section, ul, section > div  {

    gap: 1em;

}

ul {

    list-style: none;

}

section {

    align-items: center;

    justify-content: center;

    min-height: 500px;

    width: 100vw;

    height: 100vh;

}

section > div {

    align-items: start;

    flex-direction: column;

    justify-content: start;

    min-height: 200px;

    padding: 0 0 0 2em;

}

img {

    border-radius: 15px;

    transition: ease 0.25s;

    box-shadow: 0px 0px 1px 10px limegreen, 0px 0px 15px 10px rgb(0,99,99, 0.5);

}

img:hover {

    box-shadow: none;

}

@media screen and (max-width: 800px) {

    p {

        width: 335px;

        text-align: center;

        box-sizing: border-box;

    }

    section {

        flex-direction: column;

        gap: 2em;

    }

    section > div {

        align-items: center;

    }

    section > div {

        padding: 0;

    }

}