/* Warren Chemerika - BCIT - Web Development 1 */
* {
    margin: 0;
    padding: 0;
}
:root {
    --color-1: yellow;
    --color-2: black;
}
::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgb(34, 34, 34, 0.5);
}

/* semantics */
body {
    background: var(--color-1);
    font-family: sans-serif;
    line-height: normal;
}
header {
    align-items: center;
    border-bottom: solid 1px var(--color-2);
}
section {
    gap: 1em;
}

/* color */
body, a {
    color: var(--color-2);
}

/* bg/color*/
.inverted {
    background: var(--color-2);
    color: var(--color-1);
}

/* hover */
a:hover {
    text-decoration: underline;
}

/* gap */
.gap-half {
    gap: 0.5em;
}
.gap-1 {
    gap: 1em;
}
.gap-2 {
    gap: 2em;
}

/* padding */
.p-1 {
    padding: 1em;
}
.p-2 {
    padding: 2em;
}
.p-3, section {
    padding: 3em;
}

/* heading */
h1, h2, h3, h4, h5, h6 {
    font-family: "Trebuchet MS", serif;
}

/* font weight */
.font-weight-600, a, caption, h1 {
    font-weight: 600;
}

/* text decoration */
.text-dec-none, a {
    text-decoration: none;
}

/* flexbox */
.flex, section {
    display: flex;
}
.f-row {
    flex-direction: row;
}
.f-col, section {
    flex-direction: column;
}

/* flexbox media (could be sorted into lg, md, sm, for switches at 1200px, 800px, 400px etc... */
.fm-row {
    flex-direction: row;
}
.fm-col {
    flex-direction: column;
}
.fm-lg-row {
    flex-direction: row;
}

/* flex-grow */
.flex-grow-1 {
    flex-grow: 1;
}
.flex-grow-inherit {
    flex-grow: inherit;
}

/* justify-content */
.justify-center {
    justify-content: center;
}
.justify-start {
    justify-content: start;
}
.justify-end {
    justify-content: end;
}

/* align-items */
.items-center {
    align-items: center;
}
.items-start {
    align-items: start;
}
.items-end {
    align-items: end;
}

/* font */
.font-xl, h1 {
    font-size: 3rem;
}
.font-lg {
    font-size: 2rem;
}
.font-md, caption, h2 {
    font-size: 1.5rem;
}

/* width */
.min-w-two-third {
    min-width: 66%;
}

/* list */
.list-none {
    list-style: none;
}

/* text */
.text-center {
    text-align: center;
}

/* table */
table {
    max-width: max-content;
    border-collapse: collapse;
}
td, th {
    border: 1px solid var(--color-2);
}
td, th {
    padding: 1rem;
}
#hero-table {
    margin: 10px 0 0 0;
}
#hero-table caption {
    margin: 0 0 10px 0;
}

/* object fit */
.object-cover {
    object-fit: cover;
}

/* height */
.h-auto {
    height: auto;
}
.h-2 {
    height: 200px;
}
.h-full {
    height: 100%;
}

/* width */
.w-full {
    width: 100%;
}
.w-half {
    width: 50%;
}

/* media */
img {
    border: dotted var(--color-1) 1px;
}
video {
    border: dotted var(--color-2) 1px;
}

/* mobile */
@media screen and (max-width: 1200px) {
    .fm-lg-row {
        flex-direction: column;
    }
    #video {
        width: 100%;
    }
}
@media screen and (max-width: 800px) {
    header {
        flex-direction: column;
        gap: 2em;
    }
    .fm-row {
        flex-direction: column;
    }
    .fm-col {
        flex-direction: row;
    }
    #hero-table th, #hero-table td {
        padding: 0;
    }
}